*{  margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.gpcontainer{
    width: 70vw;
    max-width: 1200px;
    padding: 0;
    margin: auto;
    position: static;
    font-size: 8pt;

}
section{
    height: 120vh;
    width: 100%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    position:relative;
}
/* Drop caps */
p img{
    height: 50pt;
    float: left;
    margin: 0 10px 5px 0;
}
/*  */
.grain{
    height: 1110%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../gpphotos/grain2.png);
    z-index: 3;
    mix-blend-mode: screen;
    background-size: contain;
    background-repeat: repeat-y;

}
.grainw{
    height: 1110%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../gpphotos/grainw.png);
    z-index: 3;
    mix-blend-mode: multiply;
    background-size: contain;
    background-repeat: repeat-y;
}
.quote{
    width: 60%;
    left:20%;
    position: relative;
    top: 10vh;
}
footer{
    height: 200pt;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    color: white;
    text-align: center;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
svg{
    fill: white;
}

/* moving paragraphs up in sections with quotes in them */
.wateringhole p{
    margin-top: -250pt;
}
.waterfountain p{
    margin-top: -250pt;
}
.gun p{
    margin-top: -250pt;
}
/*  */


section p{
    position: relative;
    top:100vh;
    column-count: 3;
    column-gap: 15px;
    padding: 0 100px;
    margin-bottom: 200pt;
    z-index: 2;
}



.junebug .titlerow{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    position: relative;
    top: 40%;
}
.titlerow p{
    margin-top: 34%;
}
.junebug img{
    width: 60%;
    height: fit-content;
}
.titlerow p{
    width: 40%;
    top: 0;
    column-count: 1;
}

.special{
    margin-left: 66%;
    width: 25%;
    top: 10vh
;}
.col1{
    column-count: 1;
    padding: 0;

}
.crutch p{
    width: 22%;
}
.left{
    top: 40vh;
    margin-left: 150px;
}
.right{
    top: 40vh;
    left: 68%;
    position: absolute;
}
/* Image Backgrounds */
.junebug{
    background-image: url(../gpphotos/dt_junebug.jpg);
}
.liberty{
    background-image: url(../gpphotos/dt_liberty.jpg);
}

.wateringhole{
        background-image: url(../gpphotos/dt_watering_hole.jpg);

}

.gothic{
        background-image: url(../gpphotos/dt_gothic.jpg);
}

.waterfountain{
        background-image: url(../gpphotos/dt_waterfountain.jpg);

}

.crutch{
        background-image: url(../gpphotos/dt_crutch.jpg);

}

.gun{
        background-image: url(../gpphotos/dt_boys_with_gun.jpg);

}

.invisible{
    background-image: url(../gpphotos/dt_invisible_man.jpg);

}

.couple{
    background-image: url(../gpphotos/dt_couple.jpg);
    background-position: top;

}
@media only screen and (max-width: 1200px){
    .gpcontainer{
        width: 100%;
    }
    section{
        width: 100%;
        height: 120vh;
    }
    section p{
        column-count: 2;
        padding: 0 150px;
        top: 90vh
    }
    .quote{
        width: 70%;
        left: 15%;
        top: 10vh;
    }
    .junebug .titlerow{
        flex-direction: column;
        top: 60%;
        height: 20vh;
        gap: 0;
    }
    
    .titlerow p{
        margin-top: -70px;
        width: 60%;
    }
    .titlerow img{
        padding-left: 45px;
    }
    .special{
        width: 30%;
        padding: 0;
        margin-left: 0;
        top: 0;
        left: 60%;
        
    }
}
@media only screen and (max-width: 700px){


section{
height: 150vh;   
background-size: cover; 
background-position: center;
}

section p{
    column-count: 1;
    top: 135vh;
    padding: 0 50px;

}
.quote{
    width: 90%;
    left: 5%;
}

.quote{
    top: 45vh;
}
.couple p{
    padding: 0 50px;
}
.crutch p{
    width: auto;
    margin: 0;
    top: 110vh
}
.left,.right{
    width: auto;
    left: 0;
    margin-left: 0;
    padding: 0 50px;
    position: relative;
    margin: 0;
    
}
.special{
    width: auto;
    padding: 0 150px;
    margin-left: 0;
    top: 40vh;
    left: 0;
}
/* Mobile versions of background images */
    .junebug{
        background-image: url(../gpphotos/m_junebug.jpg);
    }

 
    .liberty{
        background-image: url(../gpphotos/m_liberty.jpg);
    }
    
    .wateringhole{
            background-image: url(../gpphotos/m_watering_hole.jpg);
    
    }
    
    .gothic{
            background-image: url(../gpphotos/m_gothic.jpg);
    }
    
    .waterfountain{
            background-image: url(../gpphotos/m_waterfountain.jpg);
    
    }
    
    .crutch{
            background-image: url(../gpphotos/m_crutch.jpg);
    
    }
    
    .gun{
            background-image: url(../gpphotos/m_boys_with_gun.jpg);
    
    }
    
    .invisible{
        background-image: url(../gpphotos/m_invisible_man.jpg);
    
    }
    .couple{
        background-image: url(../gpphotos/m_couple.jpg);
    }
}